.product-card {
  &__top {
    margin-left: 73px;
    padding-top: 29px;
    padding-bottom: 21px;
    display: flex;
    &-slider {
      max-width: 660px;
      .product-slider {
        transform: translateY(-63px);
        &__img-max {
          width: 590px;
          height: 390px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &__img-min {
          margin-top: 26px;
          padding: 0 30px;
          display: inline-block;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            left: 8px;
            top: 4px;
            width: 14px;
            height: 42px;
            background-image: url(../img/svg/product-card/product-card-arrow.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
          }
          &::after {
            position: absolute;
            content: "";
            right: 2px;
            top: 5px;
            width: 14px;
            height: 42px;
            background-image: url(../img/svg/product-card/product-card-arrow.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            transform: rotate(180deg);
          }
          .img-min {
            margin-right: 6.5px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    &-title {
      font-weight: 500;
      font-size: 48px;
      line-height: 59px;
      letter-spacing: 0.01em;
      margin: 0;
      margin-left: 10px;
      position: relative;
      z-index: 1;
    }
    &-reviews {
      display: flex;
      margin-top: 13px;
      margin-left: 10px;
      position: relative;
      z-index: 1;
      &-link {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #ff8219;
        margin-left: 13px;
        margin-top: 3px;
      }
    }
    &-star-list {
      display: flex;
      li {
        margin-left: 2px;
        &:first-child {
          margin-left: 0;
        }
      }
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
  .product-descr {
    position: relative;
    padding-top: 11px;
    margin-left: 45px;
    &__price {
      margin-left: 8px;
      position: relative;
      padding-bottom: 38px;
      &-old {
        font-size: 38px;
        line-height: 46px;
        letter-spacing: 0.01em;
        text-decoration-line: line-through;
        color: rgba(6, 6, 6, 0.51);
        display: block;
      }
      &-current {
        font-weight: 500;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: 0.01em;
        display: block;
      }
      &::before {
        position: absolute;
        content: "";
        height: 0.5px;
        width: 333px;
        background: #000;
        bottom: 0;
        left: -4px;
      }
    }
    &__sale {
      position: absolute;
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0.01em;
      color: #ffffff;
      background: $orange;
      border-radius: 20px;
      right: 25px;
      top: 5px;
      padding: 0 15px;
    }
    &__size {
      position: relative;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0.01em;
      margin-left: 8px;
      padding: 28px 0 24px;
      &::before {
        position: absolute;
        content: "";
        height: 0.5px;
        width: 333px;
        background: #000;
        bottom: 0;
        left: -4px;
      }
      .size-btn {
        position: absolute;
        right: 26px;
        top: 31px;
        width: 27px;
        height: 27px;
        background: transparent;
        background-image: url(../img/svg/product-card/plus.svg);
      }
    }
    &__properties {
      padding-top: 26px;
      padding-bottom: 28px;
      font-size: 18px;
      line-height: 22px;
      margin-left: 4px;
      display: flex;
      &-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-right: 45px;
        padding-top: 61px;
        &::before {
          background-repeat: no-repeat;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      &-load {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          right: 25px;
          top: 1px;
          width: 42px;
          height: 58px;
          background-image: url(../img/svg/product-card/load-icon.svg);
        }
      }
      &-height {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          right: 8px;
          top: 4px;
          width: 48px;
          height: 54px;
          background-image: url(../img/svg/product-card/height-icon.svg);
        }
      }
      &-hardness {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          right: 31px;
          top: 2px;
          width: 40px;
          height: 58px;
          background-image: url(../img/svg/product-card/hardness-icon.svg);
        }
      }
    }
    .add-to-basket-btn {
      color: #fff;
      background: $orange;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;
      border-radius: 20px;
      padding: 14px 59px;
    }
    &__buttons {
      display: flex;
      padding-top: 20px;
      margin-left: 8px;
      font-size: 14px;
      line-height: 17px;
      color: $orange;
    }
    &__button {
      padding-top: 30px;
      margin-right: 26px;
      &::before {
        background-repeat: no-repeat;
      }
      :last-child {
        margin-right: 0;
      }
    }
    &__share-btn {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        right: 9px;
        top: 0px;
        width: 48px;
        height: 54px;
        background-image: url(../img/svg/product-card/share-icon.svg);
      }
    }
    &__favorites-btn {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        right: 32px;
        top: 0px;
        width: 29px;
        height: 25px;
        background-image: url(../img/svg/product-card/favorites-icon.svg);
      }
    }
    &__comparison-btn {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        right: 35px;
        top: 0px;
        width: 22px;
        height: 25px;
        background-image: url(../img/svg/product-card/compare-icon.svg);
      }
    }
  }
  &__tabs {
    padding: 22px 0 46px;
    box-shadow: 6px 6px 26px 15px rgba(0, 0, 0, 0.08);
    .tab {
      display: none;
    }
    .tab--active {
      display: block;
    }
    .tabs-navigation__item {
      &--active {
        color: $orange;
        border-bottom: 1.5px solid #ff8219;
      }
    }
    .product-card-navigation {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      &__item {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.01em;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .tab-benefits {
      padding-top: 85px;
      padding-left: 83px;
      padding-right: 83px;
      display: flex;
      flex-direction: column;
      &__list {
        display: flex;
        padding-bottom: 45px;
      }
      &__item {
        position: relative;
        padding-left: 20px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
        width: 340px;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        &::before {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: $orange;
          left: 0;
          top: 3px;
        }
      }
    }
    .tab-reviews {
      padding-left: 101px;
      padding-bottom: 2px;
      display: flex;
      &__left {
        padding-top: 57px;
        .tab-review {
          padding-bottom: 40px;
          &:last-child {
            padding-bottom: 0;
          }
          &__top {
            display: flex;
            align-items: center;
          }
          &__star-list {
            display: flex;
            width: 125px;
            li {
              margin-right: 2.5px;
            }
            img {
              width: 22.3px;
              height: 22.3px;
            }
          }
          &__name {
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 0.01em;
            margin-left: 50px;
          }
          &__date {
            margin-top: 8px;
            margin-left: 7px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: rgba(6, 6, 6, 0.62);
          }
          &__body {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.01em;
            margin-top: 11px;
            max-width: 650px;
          }
        }
      }
      &__rating {
        position: relative;
        padding-top: 40px;
        margin-left: 48px;
        width: 327px;
        .rating__top {
          display: flex;
          justify-content: space-between;
        }
        .rating__star-list {
          display: flex;
          li {
            margin-right: 4px;
          }
          img {
            width: 32px;
            height: 32px;
          }
        }
        .rating__number {
          font-weight: 500;
          font-size: 30px;
          line-height: 37px;
          letter-spacing: 0.01em;
        }
        .rating__counts {
          padding-top: 10px;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.01em;
          color: rgba(6, 6, 6, 0.62);
        }
        .rating__count-item {
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          &:first-child {
            margin-top: 0;
          }
        }
        .rating__count-filled {
          position: relative;
          width: 199px;
          &-empty {
            position: absolute;
            left: 0;
            bottom: 6px;
            width: 100%;
            height: 4px;
            background: #c4c4c4;
            border-radius: 5px;
          }
          &-full {
            position: absolute;
            left: 0;
            bottom: 6px;
            width: 194px;
            width: 90%;
            height: 4px;
            background-color: $orange;
            border-radius: 5px;
          }
        }
        .write-review-btn {
          padding: 10px 12px;
          background: #ff8219;
          border-radius: 20px;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #ffffff;
          &__wrapper{
            margin-top: 17px;
            text-align: right;
          }
        }
      }
    }
  }
  &__video-review {
    padding-top: 55px;
    padding-bottom: 15px;
    .title {
      text-align: center;
      h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
    }
  }
  &__video-wrapper {
    width: 854px;
    margin: 0 auto;
    margin-top: 55px;
  }
  &__video-descr {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    width: 662px;
    margin: 0 auto;
    margin-top: 33px;
  }
}
