.s-promo {
  padding-top: 70px;
  box-shadow: 6px 6px 26px 15px rgba(0, 0, 0, 0.08);
  @media (max-width: $phone-size) {
    padding-bottom: 19px;
    box-shadow: none;
    padding-top: 35px;
  }
  .promo {
    &__subscription {
      display: flex;
      justify-content: space-between;
      @media (max-width: 955px) {
        flex-direction: column;
      }
      &-text {
        margin-left: 86px;
        @media (max-width: 955px) {
          margin-left: 0;
          text-align: center;
        }
      }
      &-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.02em;
        @media (max-width: $tablet-size-1175) {
          font-size: 20px;
          line-height: 24px;
        }
        @media (max-width: $phone-size) {
          display: none;
        }
      }
      &-subtitle {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        padding-top: 9px;
        @media (max-width: $tablet-size-1175) {
          font-size: 16px;
          line-height: 20px;
          font-weight: 500;
        }
        @media (max-width: $phone-size) {
          font-size: 26px;
          line-height: 32px;
        }
        &--phone {
          display: none;
          @media (max-width: $phone-size) {
            display: block;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            margin-top: 8px;
          }
        }
      }
      &-input {
        width: 374px;
        height: 40px;
        border: 1px solid #ff8219;
        border-radius: 18px;
        padding-left: 20px;
        @media (max-width: $tablet-size-1175) {
          width: 278px;
          height: 34px;
        }
        @media (max-width: 550px) {
          width: 100%;
          margin-top: 24px;
          max-width: 330px;
        }
        &-wrapper {
          padding-top: 14px;
          @media (max-width: 955px) {
            text-align: center;
          }
          @media (max-width: 360px){
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
      &-btn {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #ffffff;
        background: $orange;
        box-shadow: -5px 5px 20px rgba(255, 130, 25, 0.4);
        border-radius: 18px;
        padding: 7px 12px 13px;
        margin-right: 86px;
        margin-left: 29px;
        cursor: pointer;
        @media (max-width: $tablet-size-1175) {
          margin-right: 50px;
          margin-left: 35px;
        }
        @media (max-width: 1000px){
          margin-right: 26px;
          margin-left: 30px;
        }
        @media (max-width: 955px){
          margin-right: 26px;
          margin-left: 30px;
        }
        @media (max-width: 550px) {
          margin: 0;
          margin-top: 32px;
          width: 330px;
        }
        @media (max-width: 360px){
          width: 100%;
        }
      }
    }
    &__installment {
      display: flex;
      margin-top: 172px;
      @media (max-width: $tablet-size-1175) {
        margin-top: 99px;
      }
      @media (max-width: 955px) {
        margin-top: 75px;
        flex-direction: column;
      }
      &-bank {
        &-name {
          margin-left: 102px;
          @media (max-width: 550px) {
            margin-left: 59px;
          }
          img {
            @media (max-width: 550px) {
              width: 199px;
            }
          }
        }
        &-img {
          img {
            width: 588px;
            height: 496px;
            @media (max-width: $tablet-size-1175) {
              width: 532px;
            }
            @media (max-width: 550px) {
              width: 349px;
              height: 282px;
              transform: translateX(-8px);
            }
            @media (max-width: 360px){
              width: 320px;
            }
          }
        }
      }
      &-info {
        text-align: center;
        margin-top: 151px;
        margin-left: 16px;
        span {
          display: block;
          text-align: center;
        }
        @media (max-width: 955px){
          margin-top: -150px;
          padding-bottom: 19px;
        }
        @media (max-width: 550px) {
          margin-top: -50px;
        }
      }
      &-title {
        font-weight: 700;
        font-size: 64px;
        line-height: 102.9%;
        text-align: center;
        letter-spacing: 0.01em;
        color: $orange;
        @media (max-width: $tablet-size-1175) {
          font-size: 50px;
        }
        @media (max-width: 550px) {
          margin-top: 0;
          font-size: 36px;
          line-height: 102.9%;
        }
      }
      &-subtitle {
        font-size: 48px;
        font-weight: 500;
        line-height: 45px;
        letter-spacing: 0.01em;
        @media (max-width: $tablet-size-1175) {
          font-size: 35px;
        }
        @media (max-width: 550px) {
          font-size: 30px;
          line-height: 130.9%;
        }
      }
      &-text {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        margin-top: 11px;
        @media (max-width: 550px) {
          font-size: 16px;
          line-height: 20px;
          margin-top: 8px;
        }
      }
    }
  }
}
