.s-reviews {
  padding-top: 65px;
  @media (max-width: $phone-size) {
    padding-top: 32px;
  }
  .reviews {
    &__title {
      text-align: center;
      font-weight: 500;
      font-size: 40px;
      line-height: 49px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      @media (max-width: $phone-size) {
        font-size: 26px;
        line-height: 32px;
      }
    }
    &-prev__inner {
      display: flex;
      justify-content: center;
      margin-top: 64px;
      @media (max-width: $phone-size) {
        margin-top: 33px;
      }
    }
    &-prev__wrapper {
      display: flex;
      @media (max-width: $phone-size) {
        width: 100%;
        overflow: hidden;
        position: relative;
      }
    }
    .reviews-prev {
      position: relative;
      width: 303px;
      height: 394px;
      box-shadow: 5px 5px 30px rgba(83, 81, 79, 0.1);
      border-radius: 8px;
      margin-left: 53px;
      color: #060606;
      &:first-child {
        margin-left: 0;
      }
      &__img-wrapper {
        margin: 19px 0 0 13px;
        width: 144px;
        height: 96px;
        background-image: url(../img/content/reviews/reviews-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media (max-width: $phone-size) {
          width: 106px;
        }
      }
      &__star-list {
        display: flex;
        position: absolute;
        right: 33px;
        top: 29px;
        li {
          margin-left: 1.5px;
        }
      }
      &__title {
        position: absolute;
        width: 100px;
        height: 67px;
        right: 19px;
        top: 50px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
        @media (max-width: $phone-size) {
          font-size: 14px;
          line-height: 17px;
          width: 74px;
          top: 44px;
          right: 21px;
        }
      }
      &__author {
        display: block;
        margin: 11px 0 0 14px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
      }
      &__date {
        display: block;
        margin: 6px 0 0 14px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: #686868;
      }
      &__text {
        margin: 6px 28px 22px 14px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        @media (max-width: $phone-size) {
          font-size: 10px;
          line-height: 12px;
          margin-left: 11px;
        }
      }
      &__mask {
        display: none;
        position: absolute;
        top: 0px;
        left: 269px;
        width: 223px;
        height: 273px;
        background: linear-gradient(
          270deg,
          #ffffff -20.76%,
          rgba(196, 196, 196, 0) 146.19%,
          rgba(255, 255, 255, 0) 146.19%
        );
      }
    }
    &__link {
      padding: 12px 30px 18px;
      background: $orange;
      box-shadow: -5px 5px 20px rgba(255, 130, 25, 0.4);
      border-radius: 20px;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin: 0 auto;
      &-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 56px;
      }
    }
  }
}
