.footer {
  background: #818a81;
  @media (max-width: 900px){
    display: flex;
  }
  @media (max-width: 635px){
    flex-direction: column;
  }
  &__main {
    padding-top: 44px;
    padding-bottom: 40px;
    margin-right: 45px;
    @media (max-width: $tablet-size-1037) {
      padding-top: 33px;
      padding-bottom: 50px;
    }
    @media (max-width: 900px) {
      display: none;
    }
    .container {
      display: flex;
      justify-content: space-between;
      @media (max-width: 900px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-left: 84px;
      @media (max-width: $tablet-size-1037) {
        margin-left: 64px;
      }
    }
  }
  &__shops-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    color: #ff8219;
    margin-top: 29px;
    margin-left: 84px;
    @media (max-width: $tablet-size-1037) {
      margin-top: 24px;
      margin-left: 64px;
    }
  }
  &__phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 74px;
    @media (max-width: $tablet-size-1037) {
      font-size: 16px;
      margin-top: 14px;
      line-height: 20px;
      margin-left: 55px;
    }
  }
  &__whatsapp-link {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 10px 3px 7px;
    border: 1px solid #ff8219;
    margin-top: 28px;
    margin-left: 82px;
    @media (max-width: $tablet-size-1037) {
      font-size: 11px;
      line-height: 13px;
      padding: 7px 5px 8px 4px;
      margin-top: 25px;
      margin-left: 63px;
    }
  }
  &__nav {
    margin-top: 8px;
    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #ffffff;
      @media (max-width: $tablet-size-1037) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &-item {
      margin-top: 6px;
      @media (max-width: $tablet-size-1037) {
        margin-top: 5px;
      }
    }
    &-link {
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: #ffffff;
      @media (max-width: $tablet-size-1037) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  &__social {
    height: 34px;
    margin-top: 27px;
    margin-left: 80px;
    @media (max-width: $tablet-size-1037) {
      margin-top: 8px;
      margin-left: 60px;
    }
  }
  &__mobile {
    display: none;
    color: #fff;
    @media (max-width: 900px) {
      display: flex;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 30px;
    }
    @media (max-width: $phone-size){
      padding: 0;
      padding-top: 49px;
      flex-direction: column;
    }
    &-item {
      padding-left: 12px;
    }
    &-contacts {
      margin-top: 37px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 900px) {
        margin-top: 10px;
        margin-left: 30px;
      }
      @media (max-width: $phone-size){
        margin: 0;
        margin-top: 37px;
      }
    }
    &-nav {
      &-title {
        position: relative;
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        margin-top: 7px;
        padding-right: 17px;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 6px;
          background-image: url(../img/svg/angle-bottom.svg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        display: none;
        &--active {
          display: block;
        }
      }
      &-item {
        margin-top: 4px;
      }
      &-link {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        color: #fff;
      }
    }
    &-phone {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: #fff;
    }
    &-mail {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: #fff;
      margin-top: 8px;
    }
    &-social {
      width: 100px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
    &-whatsapp-link {
      margin-top: 17px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.02em;
      padding: 8px 8px 12px;
      border: 1px solid #ff8219;
      border-radius: 18px;
      color: #fff;
    }
  }
  &__bottom {
    background: #fff;
    padding-top: 24px;
    padding-left: 85px;
    @media (max-width: $tablet-size-1037) {
      padding-top: 19px;
      padding-left: 64px;
    }
    @media (max-width: 900px) {
      background: #818a81;
      color: #fff;
      padding: 0;
      padding-left: 12px;
      padding-right: 27px;
      padding-bottom: 28px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      padding-right: 158px;
      @media (max-width: 900px) {
        padding-right: 0;
      }
    }
    &-item {
      &:first-child {
        width: 466px;
        @media (max-width: 900px) {
          display: none;
        }
      }
      &:nth-child(2) {
        span {
          display: block;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.02em;
          margin-top: 7px;
          &:first-child {
            margin-top: 0;
          }
        }
        .privacy-policy {
          text-decoration: underline;
          display: block;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.02em;
          margin-top: 7px;
          color: rgba(6, 6, 6, 0.81);
          @media (max-width: 900px) {
            color: rgba(255, 255, 255, 0.81);
            font-size: 12px;
            line-height: 15px;
          }
        }
        @media (max-width: $phone-size) {
          margin-top: 32px;
        }
      }
      .yandex-market-link {
        img {
          width: 170px;
          height: 85px;
          margin-top: 16px;
          margin-left: 46px;
          @media (max-width: $tablet-size-1037) {
            width: 137px;
            height: 68px;
          }
          @media (max-width: 900px) {
            display: none;
          }
        }
        &-mobile {
          display: none;
          margin-top: 49px;
        }
      }
    }
    &-info{
      @media (max-width: 900px) {
        margin-left: 30px;
        margin-top: 20px;
      }
      @media (max-width: 635px){
        margin-left: 0;
      }
    }
  }
  .copyright {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: rgba(6, 6, 6, 0.81);
    margin-top: 10px;
    @media (max-width: $tablet-size-1037) {
      font-size: 14px;
      line-height: 17px;
      margin-top: 8px;
    }
  }
  @media (max-width: $tablet-size-1037) {
    &__logo {
      img {
        width: 131px;
      }
    }
  }
  @media (max-width: $phone-size) {
    &__logo {
      display: none;
    }
    .copyright {
      display: none;
    }
  }
}
